@import url(http://fonts.googleapis.com/css?family=Londrina+Solid|Nunito:400,300);
html,
body {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    /*overflow-y: hidden;*/
    
    font-family: "Londrina Solid", cursive;
}

img {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}
/*STUFF ADDED BY JAVASCRIPT*/

.gameStart {
    font-size: 40px;
    padding-top: 0px;
    position: relative;
    bottom: 350px;
    color: #34cd39;
    font-weight: 300;
}

.howto {
    font-size: 25px;
    padding-top: 0px;
    position: relative;
    bottom: 330px;
    padding: 0px 8px 0px 8px;
    color: #34cd39;
    font-weight: 300;
}

#example1 {
    height: auto;
    width: auto;
    max-width: 270px;
    max-height: 270px;
    position: relative;
    bottom: 350px;
    box-shadow: 1px 0px 22px 0px #000000;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
}

.startMe {
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    background: #53BDFF;
    color: white;
    transition: .4s;
    text-shadow: 1px 2px 0 #2EB933;
    font-family: "Londrina Solid", cursive;
    position: relative;
    bottom: 365px;
}

.startMe:hover {
    background: #34cd39;
}

.ready {
    margin-bottom: 20px;
    color: #34cd39;
    position: relative;
    bottom: 355px;
    font-size: 16px;
}

.correct {
    font-size: 90px;
    padding-top: 0px;
    position: relative;
    bottom: 450px;
    color: #34cd39;
    font-weight: 300;
}

.wrong {
    font-size: 90px;
    padding-top: 0px;
    position: relative;
    bottom: 450px;
    color: red;
    font-weight: 300;
}
/*END OF JAVASCRIPT ADDS*/

.highScore {
    font-family: "Londrina Solid", cursive;
    margin: auto;
    text-align: center;
    background-color: #323232;
    height: 420px;
    width: 200px;
    box-shadow: 1px 0px 22px 0px #000000;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    position: fixed;
    right: 214px;
    top: 250px;
}

h1#userScore {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    font-size: 40px;
}

h3.defaultCardTime {
    margin-top: 0px;
    display: inline;
    padding-top: 5px;
    color: white;
    font-size: 24px;
}

.score {
    font-family: "Londrina Solid", cursive;
    margin: auto;
    text-align: center;
    background-color: #323232;
    height: 420px;
    width: 200px;
    box-shadow: 1px 0px 22px 0px #000000;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    position: fixed;
    left: 215px;
    top: 250px;
}

h1#scoreTime {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
}

h3#stopWatch {
    margin-top: 0px;
    display: inline;
    padding-top: 5px;
    color: white;
    font-size: 24px;
}

.logoGame {
    font-family: "Londrina Solid", cursive;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    background-color: #323232;
    height: 620px;
    width: 400px;
    box-shadow: 1px 0px 22px 0px #000000;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
}

h1 {
    font-size: 50px;
    padding-top: 20px;
    color: #53BDFF;
    font-weight: 300;
}

p {
    margin-bottom: 20px;
    color: gray;
    line-height: 9.0;
}

#answer {
    border-color: #cccccc;
    font-size: 24px;
    padding: 6px;
    border-width: 2px;
    border-radius: 0px;
    border-style: solid;
    color: #b0b0b0;
    box-shadow: 1px 0px 22px 0px #53BDFF;
    text-shadow: 0px 0px 0px rgba(42, 42, 42, .84);
    font-family: "Londrina Solid", cursive;
    transition: 0.4s;
    position: relative;
    left: 50px;
}

#answer:focus {
    outline: none;
}

#answer:hover {
    box-shadow: 1px 0px 22px 0px #34cd39;
}

#clickme {
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    background: #53BDFF;
    color: white;
    transition: .4s;
    text-shadow: 1px 2px 0 #2EB933;
    font-family: "Londrina Solid", cursive;
    position: relative;
    top: 65px;
    right: 120px;
}

#clickme:hover {
    background: #34cd39;
}

#correct1 {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*
 * FadeIn animation
*/

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#correct1 {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
/*
 * FadeOut animation
*/

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#correct1 {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

#wrong1 {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*
 * FadeIn animation
*/

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#wrong1 {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
/*
 * FadeOut animation
*/

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#wrong1 {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}