@import url(http://fonts.googleapis.com/css?family=Londrina+Solid|Nunito:400,300);
html,
body {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    font-family: "Londrina Solid", cursive;
}

img {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}

.score {
    font-family: "Londrina Solid", cursive;
    margin: auto;
    text-align: center;
    background-color: #323232;
    height: 420px;
    width: 200px;
    box-shadow: 1px 0px 22px 0px #000000;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    position: fixed;
    left: 215px;
    top: 250px;
}

h1#scoretime {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
}

h3#timer {
    margin-top: 0px;
    padding-top: 5px;
    color: white;
    font-size: 24px;
}

.logoGame {
    font-family: "Londrina Solid", cursive;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    background-color: #323232;
    height: 620px;
    width: 400px;
    box-shadow: 1px 0px 22px 0px #000000;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
}

h1 {
    font-size: 50px;
    padding-top: 20px;
    color: #53BDFF;
    font-weight: 300;
}

p {
    margin-bottom: 20px;
    color: gray;
    line-height: 9.0;
}

#answer {
    border-color: #cccccc;
    font-size: 24px;
    padding: 6px;
    border-width: 2px;
    border-radius: 0px;
    border-style: solid;
    color: #b0b0b0;
    box-shadow: 1px 0px 22px 0px #53BDFF;
    text-shadow: 0px 0px 0px rgba(42, 42, 42, .84);
    font-family: "Londrina Solid", cursive;
    transition: 0.4s;
    position: relative;
    left: 50px;
}

#answer:focus {
    outline: none;
}

#answer:hover {
    box-shadow: 1px 0px 22px 0px #34cd39;
}

#clickme {
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    background: #53BDFF;
    color: white;
    transition: .4s;
    text-shadow: 1px 2px 0 #2EB933;
    font-family: "Londrina Solid", cursive;
    position: relative;
    top: 65px;
    right: 120px;
}

#clickme:hover {
    background: #34cd39;
}